@import "tailwindcss";

@theme {
  --color-brand-blue: #10367D;
  --color-brand-light: #EBEBEB;
  --color-brand-lime: #A5CE00;
  --color-dark-blue: #0A2351;
  --color-sea-blue: #0077B6;
}

:root {
  --background: #ffffff;
  --foreground: #1e293b;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}